header.masthead {
    background: rgba(10, 10, 10, 1);
    background:  url("../img/novakickslegs.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100vh; /*remove if adding content under header that needs to appear on smaller screens!*/
  }

.copyright-text {
  font-size: .33rem !important;
}

  body {
    background: rgba(10, 10, 10, 1);
  }

  #mainNav {
    display: none;
  }

#novakicksbanner {
    margin-bottom: 20px;
}

a.social {
      width: 20px;
  }

  .spotify_audio_player {
      margin-top: 20px;
    }


a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ababab;

}